.container {
  display: flex;
  flex-direction: column;     
  align-items: center;        
  justify-content: center;    
  min-height: 100vh;          
  gap: 20px;                  
  padding: 10%;
  box-sizing: border-box;
}

.container > * {
  align-self: flex-start;
}